.header
{
    background-color: $verde;

    .contenido-header
    {
        padding: $separacion / 2 0;
        
        @include tablet
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1
    {
        color: $blanco;
        margin-bottom: 1rem;
        text-align: center;
        @include tablet
        {
            margin-bottom: 0;
        }
    }
}

.navegacion-principal
{
    display: flex;
    gap: 2rem;
    justify-content: center;

    a
    {
        color: $blanco;
        font-size: 2rem;

        &:hover
        {
            color: $amarillo;
        }
    }
}

.contenido-imagen
{
    padding-top: 4rem;

    img
    {
        width: 30%;
    }

    h3
    {
        display: inline-block;
        vertical-align: top;
        padding: 1rem 2rem;
    }

    span
    {
        padding-top: 4rem;
        font-size: 1.8rem;
        color: $rosa;
        display: flex;
    }

    p
    {
        font-size: 1.6rem;
        display: flex;
        
    }
}




